<!DOCTYPE html>
    <head>
        <title>footer</title>
        
        <link rel="stylesheet" href="/stylesheet/footer.css">
      
    </head>
    <body>
       <div id='footer'>
           <ul id="footer_menu">
               <li class="homeButton"><a href="index.ejs"></a></li>
               
               <li><a href="#">Account</a>
                   <div class="one_column_layout">
                       <div class="col_1">
                           <a class="headerLinks">Stream</a>
                           <a class="headerLinks">Messages</a>
                           <a class="listLinks">Inbox (5)</a>
                           <a class="listLinks">Sent</a>
                           <a class="listLinks">Trash</a>
                           <a class="listLinks">Compose</a>
                       </div>
                   </div>
                   
               </li>
           </ul>
       </div>
    </body>
</html>