<!DOCTYPE html>
    <head>
        <title>My Portfolio</title>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <script type="text/javascript" src="Javascript/Main.js"></script>
        
        <link rel="stylesheet" href="/stylesheet/main.css">
        <link rel="stylesheet" href="/stylesheet/footer.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    </head>
    <body>
        
      <div class="topnav" id="myTopnav">
          <div class="floating">
              <a class="neon-anchor" onclick="myFunction()" href="#about">About</a>
              <a class="neon-anchor" onclick="myFunction()" href="#project">Projects</a>
              <a class="neon-anchor" onclick="myFunction()" href="#contact">Contact</a>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
          </div>
      </div>
      
       <div class="main">
           <div id="about">
               <section class="about" >
                   <p class="large-text"  >knowledge and experience of both front and back in web dev. </p>  <p class="large-text">Junior Developer with experiecne and skill in CSS3, Bootstrap, Javascript, NodeJS, Jquery. apis, code debugging RESTful routing, ExpressJS, MongoDB. Also enjoy the
                   challenge of learning and getting code to work.</p>
               </section>
           </div>
           <div id="project">
               <section class="project">
                   <div class="links">
                   <div class="neon-box neon-box-green">
                       
                           <a class="neon-anchor-project neon-green-text" href="https://stark-reaches-44182.herokuapp.com/" target="_blank"><img class="image" src="img/YelpCamp1.bmp">Yelpcamp</a>
                       
                   </div>
                   <div class="neon-box neon-box-green">
                       
                           <a class="neon-anchor-project neon-green-text" href="https://rockyrestaurant.herokuapp.com/" target="_blank" ><img class="image" src="img/Rocky3.bmp">Rocky's Place</a>
                       
                   </div>
                   </div>
                   <p class="large-text" >Check out my project. This is my campground from udemy for which i refactoried it to include google map api, picture search
                   and also included my own unique styling</p>
                   <p class="large-text">This is my restaraunt web app which contain menu that is easily responsible.</p>
                   <p class="large-text">This is my inventory app.</p>
               </section>
           </div>
           <div id="contact">
           <section class="contact">
               <p class="large-text" >To contact me</p>
           </section>
           </div>
       </div>
      
    </body>
</html>